
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
	display:inline-block;
	position:absolute;
}
.header{
	position:fixed;
	top:0;
	left:0;
	width:auto;
	height:48px;
	background-color:#17415F;
	z-index:10;
	cursor: default;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;' 
	 unselectable='on'
	 onselectstart='return false;' 
	 onmousedown='return false;
}
.tab{
	background:#2E546F;
	padding-right:18px;
	margin-right:20px;
}
.tab-links a {
	padding-top:7px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 6px;
	display:inline-block;	
	font-size:14px;
	font-weight:600;
	font-family:"Century Gothic", CenturyGothic,sans-serif;
	color:white;
	/*transition:all linear 0.2s;*/
	text-decoration:none;
	z-index: -1;
}

.tab-links a:hover {
	text-decoration:none;
	cursor: default;
}

li.active{
	background:#61798B;
	color:white;
}

body{
	background-color:#2E546F;
}

#editor {
	position:relative;
}
.tab-content{
	margin:0;
	margin-left:-0.23em;
	position:relative;
	z-index:-1;
	width:1000em;
}

.closeButton {
	position:absolute;
	cursor: pointer;
	width:15px;
	height:15px;
	top:9px;
}

.newTab {
	width:auto;
	height:auto;
}

.newTab input{
	outline: none;
	cursor: pointer;
}

.tab-container{
	height:48px;
	overflow-y:hidden;
	overflow: auto;
}