.sidebar{
	border-style:solid;
	border-width:1px;
	border-color:#A9A9A9;
	font-family:"Century Gothic", CenturyGothic,sans-serif;
	font-size:1em;
	position:fixed;
	top: 0;
	left: 0;
	padding: 2.9em 0 0 0;
	height:100%;
	width:16em;
	background-color:#EAEAEA;
	z-index:0;
	
}

.thumbnail{
	float:left;
	width:1em;
	height:1em;
}

div.settings>div>div>p{

	display:inline;
	color:#252525;
}
.settings{
	font-size:.85em;
	padding-left:1em;
}

.unselectable{
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	  user-select: none;
	 -webkit-touch-callout: none;
	 -webkit-user-select: none;
}

select{

	border-style:solid;
	border-width:1px;
    -webkit-appearance: none; 
    -moz-appearance: none;  
    text-overflow: '';
    width:14em;
    background: url("drop.png") no-repeat;

    background-position: 12em;
    background-color:white;
    text-indent: 0.01px;
	

	font-family:"Century Gothic", CenturyGothic,sans-serif;

	margin: 0 0 0 0;
	margin-left:5px;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	  user-select: none;
	 -webkit-touch-callout: none;
	 -webkit-user-select: none;


}
select::-ms-expand {

    display: none;
}
select:focus{
   outline:none;
}
@-moz-document url-prefix() {
  /* If you use a background image */
  select {
     background-image: none;
     border: 1px solid #A9A9A9;
  }


}


.collapse{
	float:right;
	position:absolute;
	margin-left:15em;
	top:100%;
	margin-top:-6.5em;
	z-index:1;
}
.expand{
	float:right;
	position:absolute;
	margin-left:15em;
	top:100%;
	margin-top:-6.5em;
	z-index:1;
	display:none;

}
.shortcuts{
	width:2em;
	display:none;
	margin-right:0.5em;
	float:right;
}
div.url_tab>p{
	font-size:0.85em;
	display:inline;
	color:#252525;
}

.urltab{
	font-size:0.85em;
	padding-left:1em;
}
.recents{
	padding-left:1em;
	font-size:0.85em;
	max-height:25em;
	
}
.container{
	margin:.5em 0 1em 0;
	max-height:22em;
	overflow-y:auto;
}
.file{
	margin-left:1em;
}
.file>p{
	display:inline; 
	color:#252525;
	cursor:pointer;
}
.thumb{
	margin-right:5px;
}
.side_header{
	background-color: #ccc;
    font-family:"Century Gothic", CenturyGothic,sans-serif;
    font-size:0.85em;
    padding: .2em .5em;
    margin-left:-1.2em;

    cursor: pointer;
    border-style:solid;
	border-width:1px;
	border-color:#A9A9A9;

}
.side_content{
	padding:.5em 0 1em 0;
}
#submit {
    background-color: #ccc;
    border-style:solid;
	border-width:1px;
	border-color:#A9A9A9;
    font-family:"Century Gothic", CenturyGothic,sans-serif;
    text-decoration: none;
    cursor: pointer;

}
.actions{
	font-size:.85em;
	padding-left:1em;


}
.actions>div>p{
	display:inline; 
	color:#252525;
	cursor:pointer;
}
select.desktopDropDown::-ms-expand
{
    display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   select{
    	border: 1px solid #A9A9A9;

	}
	select:focus::-ms-value {
		background:none;
		color:#252525;
	}


}