

.header{
	position:fixed;
	top:0;
	left:0;
	width:auto;
	height:3em;
	background-color:#17415F;
	z-index:10;
	cursor: default;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;' 
	 unselectable='on'
	 onselectstart='return false;' 
	 onmousedown='return false;
}

.tabs {
	position:fixed;
	top:0;
	left:230px;
	height:48px;
	width:100%;
	background-color:#17415F;
	display:inline-block;

}
.icons {
	position:fixed;
	top:0;
	right:20px;


}
div.icons>input{
	margin: 14px 4px;
	float:right;
	width:1.54em;
	height:1.54em;

}


div.tabs>div{
	float:left;

}
div.newTab>input{
	margin: 18px 16px 0 0;
	width:50%;
	height:50%;

}	
.newTab{
	left:-100px;
}


.menu{
	padding-top:5px;
	margin:0 50px 0 16px;
	float:left;
	display:block;
	width:auto;
	height:48px;
	font-family:"Century Gothic", CenturyGothic,sans-serif;
	font-size:1.8em;
	color:white;


}


.text{
	margin: 18px 16px 16px 16px;
	font-family:"Century Gothic", CenturyGothic,sans-serif;
	color:white;

}

.content{
	position:absolute;
	top : 48px;
	left: 200px;
	height:auto;
	width:auto;
	overflow:scroll;
	background-color:#ededed;

	
}

.thumbnail{
	float:left;
	width:1em;
	height:1em;
}


